body {
  background: #357b9c;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
header,
main,
footer {
  margin: 1rem;
  position: relative;
}
  

h1 {
  color: white;
  padding: 1rem;
  text-align: center;
}
  
h2 {
  color: #08415C;
}

p {
  margin: 0;
}

  
main {
  margin-left: 2rem;
  text-align: center;
  
}

 
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
  
section {
  margin: 0.25rem;
  padding: 0.35rem;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
  
img {
  width: auto;
  max-width: 325px;
  height: 200px;
  margin: 1rem 0;
  box-shadow: 0 0 30px #777;
  
}

footer {
  text-align: center;
  color: white;
  border-top: 1px solid white;
  padding: 2rem;
}


