body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;

}

main {
    text-align: center;
    background-color: rgb(201, 233, 233);
    padding: 1rem;
}