/*35rem is also 560px when basefont is 16px*/
@media only screen and (min-width: 35em) {
    h1 {
        font-size: 1.2em;
    }

    h2, h3, h4, p {
        font-size: .8em;
    }


    div.logo img {
        width: 80px;
        height: auto;
    }

    /* Hamburger Button Styling */

    nav ul.open {
        display: block;
        text-align: center;
    }

    /* nav ul li a {
		border: none;
	} */


    nav ul li {
        font-size: 1rem;
    }

    /* Footer Styling */
    footer {
        font-size: .9rem;
    }

    footer nav ul li a {
        font-size: 1.1rem;
        margin-top: 1rem;
    }

    footer section.bottomInfo {
        display: flex;
        margin: 0;
        flex-direction: row;
        justify-content: space-evenly;
    }

    /* Main Styling */

    main.mainContent {
        grid-template-columns: repeat(3, 1fr);
    } 
    section.welcome {
        grid-column: 1/-1;
        padding: 2rem;

    }

    section.welcome img {
        width: 50%;
        float: right;
        padding: 2rem;
    }

    section.message1 {
        grid-column: 1/-1;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 3rem;
    }

    section.message1 img {
        width: 300px;
    }

    section.message1 div {
        margin: 0 2rem;
    }

    .smoothies {
        grid-column: 1/-1;
        display: flex;
        flex-direction: column;
    }
    .smoothies div{
        display: flex;
        flex-direction: row;
    }

    .smoothiesPics div {
        flex-direction: column;
    }

    /* Weather Report*/

    .weatherSection {
        display: flex;
    }

    .weatherSummary div{
        padding: 0 1rem;

    }

    /*---ABOUT PAGE ----*/
    .about{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    

}

