* {
	box-sizing: border-box;
	padding: 0;	
}


body {
	margin: 1.5rem auto;
    font-size: 16px; 
    line-height: 1.5rem;
	max-width: 1050px;
    font-family: 'Roboto', 'Arial', serif;
}

.headertop {
	padding: 5px 0;
	display: flex;
	justify-content: space-between;
}

.logo {
	display: flex;
	margin-left: 1rem;
}

.logo img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
    margin-left: 10px;
	font-family: 'Lora', 'Arial', serif;
	color: white;
	margin-top: 13px;
}

.headings h1 {
	font-size: 1.5rem;
    margin: 0;
	text-shadow: 1px 1px gray;
}
.headings h2 {
    font-size: 1rem;
    margin: 0;
}

.social {
	margin: 0;
}

.social img {
	width: 2.5rem;
}

header {
	background-color: #11385c;
	padding: .8rem 0.8rem;	
	box-shadow: -1px -1px 10px 10px rgba(63, 65, 63, 0.5);	
}

.date {
	display: block;
	font-size: .8rem;
	letter-spacing: 2px;
	text-align: center;
	background-color:white; 
	padding: 10px;
	margin-right: 15px;
	margin-left: 15px;
}

.meeting {
	color: white;
	margin-left: 0.5rem;
	margin-right: 1rem;
	font-size: 0.7rem; 
	text-align: center;

}

/* Hamburger Button Styling */

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


h1, p {margin: 0 2vw;}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2.5rem;
    color: #42b3ab;	
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-right: 15px;
}

nav ul li a  {
    display: block;
    padding: .8rem 2vw;
    text-decoration:none;
    color: #333;
    border-top: 1px solid rgba(0,0,0,0.5);
	color: white;
}

nav ul li.active a  {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

nav ul li a:hover  {
    background-color: rgba(0,0,0,0.3);
}

nav ul {
	display: none;
}

nav ul.open {
	display: block;
}


/* Main section styling*/

.content {
	display: block;
	padding: 1rem 0;
}

main section {
	background-color: rgb(231, 230, 230);
	text-align: center;
	margin-bottom: 1rem;
	padding: .5rem;
} 

main section div {
	margin: 1rem 1rem;
}

.spotlight {
	display: grid;
}


/* Footer */
 
footer {
    display: block;
    background-color: #11385c;
	justify-items: center;
	text-align: center; 
	color: white;
	padding: .5rem;
    background-color: #11385c;
    box-shadow: -1px -1px 10px 10px rgba(63, 65, 63, 0.5);
	font-family: 'Lora', 'Arial', serif;
	font-size: 0.8rem;;
}
.logofooter img {
    width: 5rem;
    height: auto;
}
.location {
	padding-bottom: 1rem;
}

 /*Author Section */
  .author {
    display: block;
	padding-top: 1rem;
	font-family: 'Roboto', 'Arial', serif;;
    font-size: .7rem;
	border-top: 2px solid white;
  }

/****MAIN SECTION ****/

section h3 {
	color:#196D94;
	font-family: 'Lora', 'Arial', serif;
	font-weight: bold;
}

/* Welcome */
.hero {
	position: relative;
}

.heroimg img{
	width: 100%;

}
.welcome {
	position: absolute;
	top: -.6rem;
	left: 2rem;
	color: #11385c;
	font-size: 1.5rem;
	letter-spacing: 1px;
}

.joinChamberBtn {
	position: absolute;
	bottom: 20px;
	right: 15px;
	border-radius: 25px;
	border: none;
	background-color: #11385c;
}

.joinChamber a{
	margin-right: 2rem;
	margin-left: 2rem;
	letter-spacing: 2px;
	font-weight: bold;
	text-decoration: none; 
	color: white;
}

/*Event */

.event {
	display: grid;
}

/*Join Us */

.joinUs {
	display: none;	
} 

/* Spotlight 1 */
.spotSlogan {
	font-style: italic;
}
.spotlight{
	display: grid;
	margin: 0;
	background:rgb(231, 230, 230);
	
}
.spotlight div {
	margin: 0;
	padding: 0 .5rem;
}
.spotContact {
	border: none;
	border-top: 2px solid black;
}
.spotlight1 img,
.spotlight2 img,
.spotlight3 img{
		width: 55%;
		height: auto;
		padding-bottom: .5rem;
	}

/* Weather */

.weatherInfo div{
	font-weight: bold;
}

.weatherInfo img{
	width: 50%;
}
.weatherSource{
	font-size: .75rem;
}

/***** DISCOVER PAGE ****/

.discover {
	display: block;
	margin: 0 auto;
	padding: 1rem;
}

.discover img { 
	width: 250px; 
	height: auto; 
	margin: .25rem;

}
.discover h3 {
	padding-top: 1rem;
}
.discover p {
	padding: 0.5rem;
}


/******* JOIN PAGE ***************/

/* ------- MEMBERSHIP TABLE ------------*/
section.membershipInfo{
	text-align: center;
	align-items: center;
	margin-left: 2px;
	display: block;
	width: 100%;
}
table {
    margin: 2rem auto ;
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
	text-align: left;
  }

  thead {
	text-align: center;
  }

  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
   
  td {
    text-align: center;
  }
  .title {
    background-color: rgb(161, 168, 171);
  }
  tr:nth-child(even) td {
    background-color: rgb(250,250,250);
  }
  
  tr:nth-child(odd) td {
    background-color: rgba(205, 228, 247, 0.737);
  }

  table {
	display: none;
  }


/*----------- FORM --------------*/
form fieldset {
    margin: 2rem auto;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
	width: 94%;
}

form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
    font-size: .8rem;
}

form label.top input {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;  
}
form label.sbs:hover {
	background-color: white;
}

form button.submitBtn {
    border: none;
    background-color: #11385c;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 1rem 5%;
    width: 100%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

form .info2{
	font-size: .8rem;
}

main.joinForm {
	max-width: 64rem;
	margin: 1rem auto;
	background-color: rgba(231, 230, 230, 0.5);
	display: block;

}
main.joinForm h2{
	text-align: center;
	font-size: 1.2em;
}

form textarea {
	font-size: 1rem;
	padding: 10px;
}


/******* DIRECTORY PAGE ********/
/*--- Buttons Styling ---*/
.menu {
	text-align: center;
}
.menu button {
	padding: 1rem;
	border: 2.5px solid rgb(41, 97, 194);
}

#grid img, #list img{
	width: 20px;
	height: 20px;
    
}

/*-------- GRID AND LIST STYLING--------*/

.dir1 {
	margin: 1rem;
	position: relative;
	background-color:rgba(231, 230, 230, 0.5);
}

.directory {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	align-items: center;
	line-height: 1.5rem;
}

.directory section {
	margin: 1rem;
	padding: 0.35rem;
	border-radius: 15px;
	background-color:white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.directory h3 {
	display: none;
}
	
.directory img {
	width: auto;
	max-width: 90%;
	height: 100px;
	margin: 1rem 0;
	box-shadow: 0 0 30px #777;
}
   
.directory  p{
	line-height: 1rem;
	font-size: .85rem;
} 
  /* buttons*/
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	align-items: center;
	
}

.list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.list section {
	display: flex;	
	align-items: center;
}

.grid section {
	flex-direction: column;
	text-align: center;
}

.grid section > * {
	margin: 0.1rem;
}

.list section {
	flex-direction: column;
	justify-content: left;
}

.list section > * {
	margin: 0 1rem;
	flex-flow: row;
}

.list section img {
	display: none; 
}

.grid section h3 {
	display: none; 
}

.grid section a{
	font-size: .9rem;
}
.list section h3 {
	font-size: .85rem;
	display: contents;

}
.list section p {
	font-size: .85rem;
}
.list section:nth-child(odd) {
	background-color: #d9f6f4;
}

.list section a{
	font-size: .9rem;
}
/*---CONTACT PAGE ----*/

.pageTitle {
	letter-spacing: 5px;
	font-weight: bolder;
	background-color: #11385c;
	color: white;
	padding: 1rem;
}
.contactUs{
	display: block;
}
.contactInfo {
	padding-top: 1rem;
}

.inquiry {
	text-align: left;
}
iframe{
	width: 100%;

}