/*35rem is also 560px when basefont is 16px*/
@media only screen and (min-width: 35em) {
	header img {
		width: 100%;
	}

	.headings {
		font-size: 2rem;
		margin-top: 23px;
	}

	.social {
		margin-top: 20px;
	}
	/* Hamburger Button Styling */

	nav ul.open {
		display: block;
		text-align: center; 
	}

	nav ul li a {
		border: none;
	}

		
	/*Main section styling*/
	main {
		display: grid;
		grid-template-columns: 25% 25% 25% 25%;
		grid-gap: .8rem;
	}
	main section{
		margin-bottom: 0;
	}
	
	.hero {
		grid-column: 1/-1;
		grid-row: 1;
	}
	.news {
		grid-column: 1/-1;
		grid-row: 2;
	}
	.spotlight {
		grid-auto-flow: column;
		grid-column: 1/-1;
		grid-row: 3;
	}
	.spotlight3 {
		display:none;
	}
	.joinUs {
		display: grid;
		grid-column: 1/-1;
		grid-row: 4;
	}
	.event {
		grid-column: 1/4;
		grid-row: 5;
	}
	.weather {
		grid-column: 4/5;
		grid-row: 5;
	}
	

	.joinUsBtn {
		font-weight: bold;
		font-size: 1rem;
		color: white;
		margin: 1rem;
		display: block;
		border-radius: 20px;
		border: none;
		background-color:#42b3ab;
		color: white;
		font-style: italic;
	}


	/*Footer*/
	footer {
		display: grid; 
		grid-template-columns: 25% 50% 25%;
		padding: 10px;
	
	}
	.logofooter{
		margin-left: 100px;
		margin-top: 5px;
		margin-bottom: 20px;

	}
	.location{
		text-align: left;
		margin-top: 20px;
		margin-right: 100px;
	}
	.contact{
		margin-top: 15px;

	}

	.author {
		grid-column: 1/-1;
		grid-row: 2;
	}
}

/***** DISCOVER PAGE ****/

.discover {
	padding-bottom: 1rem;
}