/* HOME PAGE CSS */

body {
    margin: auto;
    width: 550px;
    font-family: Verdana, Tahoma, sans-serif;
}

header {
    display: grid;
    margin-top: 30px;
    grid-template-columns: 150px auto;
    
}
img {
    width: 120px;
    height: auto;
    box-shadow: 5px;
    margin-left: 10px;
    border-radius: 0.5rem;
    

}
footer {
    display: grid;
    align-items: center;
}

header,footer {
    background-color: rgb(39, 136, 151);
    color:rgb(213, 234, 227);
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-radius: 1.5rem;
    box-shadow: -2px -2px 40px 5px rgba(5, 50, 44, 0.5);

}

p {
    font-size: smaller;
}

h2 {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);;
}

#lastupdated {
    color:black;
}

ul {
    line-height: 1.5;
}